In [203]:
import tensorflow as tf
from keras import layers as klayer
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
tf.random.set_seed(1234)

print("--Get data--")
data = pd.read_csv('data_cleaned.csv',index_col=False)
data.convert_dtypes()
data.head(10)

--Get data--

,index,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class,Grade_level
0,0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M,2
1,1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M,2
2,2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L,1
3,3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L,1
4,4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M,2
5,5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M,2
6,6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L,1
7,7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M,2
8,8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M,2
9,9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M,2

In [204]:
#Change text data to numerical data
def convert_absenceDays (text):
	if text == 'Under-7':
		return 0 
	else:
		return 1

In [205]:
# apply convert function to dataframe
data['absenceDays_flaged'] = data['StudentAbsenceDays'].apply(convert_absenceDays)
data.head(10)

,index,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class,Grade_level,absenceDays_flaged
0,0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M,2,0
1,1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M,2,0
2,2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L,1,1
3,3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L,1,1
4,4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M,2,1
5,5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M,2,1
6,6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L,1,1
7,7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M,2,0
8,8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M,2,0
9,9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M,2,0

In [206]:
input_data = data.loc[:,['absenceDays_flaged','Discussion','AnnouncementsView','VisITedResources','raisedhands']]
true_label = data.loc[:,['Grade_level']]
x_train,x_test,y_train,y_test = train_test_split(input_data, true_label.values.ravel(),test_size=0.2,random_state=1)
x_train = np.asarray(x_train).astype(np.int32)
x_test = np.asarray(x_test).astype(np.int32)
y_train = np.asarray(y_train).astype(np.int32)
y_test = np.asarray(y_test).astype(np.int32)

In [207]:
print("--Make model--")
model = tf.keras.models.Sequential()     
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(512, activation = "relu", use_bias= True))
model.add(tf.keras.layers.Dense(10, activation='softmax'))
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='sparse_categorical_crossentropy', metrics=['accuracy'])
print("--Fit model--")
model.fit(x_train, y_train, epochs=30, verbose=1)

--Make model--
--Fit model--
Epoch 1/30
13/13 [==============================] - 1s 2ms/step - loss: 3.9190 - accuracy: 0.3241
Epoch 2/30
13/13 [==============================] - 0s 1ms/step - loss: 1.6888 - accuracy: 0.4899
Epoch 3/30
13/13 [==============================] - 0s 1ms/step - loss: 1.0855 - accuracy: 0.5578
Epoch 4/30
13/13 [==============================] - 0s 1ms/step - loss: 0.8871 - accuracy: 0.5804
Epoch 5/30
13/13 [==============================] - 0s 2ms/step - loss: 0.7893 - accuracy: 0.6206
Epoch 6/30
13/13 [==============================] - 0s 1ms/step - loss: 0.7628 - accuracy: 0.6131
Epoch 7/30
13/13 [==============================] - 0s 1ms/step - loss: 0.7250 - accuracy: 0.6407
Epoch 8/30
13/13 [==============================] - 0s 1ms/step - loss: 0.8084 - accuracy: 0.6407
Epoch 9/30
13/13 [==============================] - 0s 2ms/step - loss: 0.9053 - accuracy: 0.6206
Epoch 10/30
13/13 [==============================] - 0s 2ms/step - loss: 1.0358 - accuracy: 0.5879
Epoch 11/30
13/13 [==============================] - 0s 1ms/step - loss: 0.8671 - accuracy: 0.6281
Epoch 12/30
13/13 [==============================] - 0s 2ms/step - loss: 0.6807 - accuracy: 0.7035
Epoch 13/30
13/13 [==============================] - 0s 2ms/step - loss: 0.6473 - accuracy: 0.7010
Epoch 14/30
13/13 [==============================] - 0s 2ms/step - loss: 0.6037 - accuracy: 0.7563
Epoch 15/30
13/13 [==============================] - 0s 1ms/step - loss: 0.6131 - accuracy: 0.7236
Epoch 16/30
13/13 [==============================] - 0s 2ms/step - loss: 0.5677 - accuracy: 0.7638
Epoch 17/30
13/13 [==============================] - 0s 2ms/step - loss: 0.6407 - accuracy: 0.7261
Epoch 18/30
13/13 [==============================] - 0s 2ms/step - loss: 0.6293 - accuracy: 0.7111
Epoch 19/30
13/13 [==============================] - 0s 2ms/step - loss: 0.7573 - accuracy: 0.6633
Epoch 20/30
13/13 [==============================] - 0s 2ms/step - loss: 0.5655 - accuracy: 0.7588
Epoch 21/30
13/13 [==============================] - 0s 1ms/step - loss: 0.6081 - accuracy: 0.7337
Epoch 22/30
13/13 [==============================] - 0s 2ms/step - loss: 0.5681 - accuracy: 0.7286
Epoch 23/30
13/13 [==============================] - 0s 1ms/step - loss: 0.5529 - accuracy: 0.7588
Epoch 24/30
13/13 [==============================] - 0s 1ms/step - loss: 0.5400 - accuracy: 0.7764
Epoch 25/30
13/13 [==============================] - 0s 1ms/step - loss: 0.6257 - accuracy: 0.7035
Epoch 26/30
13/13 [==============================] - 0s 1ms/step - loss: 0.6092 - accuracy: 0.6884
Epoch 27/30
13/13 [==============================] - 0s 2ms/step - loss: 0.5796 - accuracy: 0.7161
Epoch 28/30
13/13 [==============================] - 0s 1ms/step - loss: 0.5441 - accuracy: 0.7563
Epoch 29/30
13/13 [==============================] - 0s 1ms/step - loss: 0.5691 - accuracy: 0.7437
Epoch 30/30
13/13 [==============================] - 0s 1ms/step - loss: 0.6255 - accuracy: 0.6935

In [208]:
print("--Evaluate model--")
model_loss1, model_acc1 = model.evaluate(x_train,  y_train, verbose=2)
model_loss2, model_acc2 = model.evaluate(x_test,  y_test, verbose=2)
print(f"Train / Test Accuracy: {model_acc1*100:.1f}% / {model_acc2*100:.1f}%")

--Evaluate model--
13/13 - 0s - loss: 0.5253 - accuracy: 0.7739 - 144ms/epoch - 11ms/step
4/4 - 0s - loss: 0.6290 - accuracy: 0.7500 - 25ms/epoch - 6ms/step
Train / Test Accuracy: 77.4% / 75.0%